*.bundle
*.o
*.orig
*.rb~
*.so
*.swp
*.tmproj
*~
.DS_Store
.idea
.loadpath
.project
/data
/index
config/database.yml
coverage
index/*
log/*.log
log/*.pid
log/mongrel.pid
Makefile
mkmf.log
out
pkg/*
tmp
tmp.pot~
